*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    background-color: #95e9f0;
    color: #ffffff;
}

.header ul{
    display: flex; 
    list-style: none;
    width:30%;
    justify-content: space-around;    
}
li{
    color:white;
}