
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;
}

.header{
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    text-align: center;
}
#menu{
    color: black;
    padding: 10px;
    display: flex;
    width:30%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
#menu a{
    text-decoration: none;
}
